* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #000;
	color: #fff;
	font-family: 'Nunito Sans', sans-serif;
}

.intro {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.intro__content {
	text-align: center;
}

.avatar {
	width: 160px;
	border-radius: 50%;
}

.intro__title {
	font-family: 'Athelas', sans-serif;
	font-style: italic;
	font-size: 2.5em;
	margin: 0.5em 0;
}

.intro__subtitle {
	font-family: 'Athelas', sans-serif;
	font-style: italic;
	letter-spacing: 1px;
}

/*.works__image {
	width: 200px;
	display: inline-block;
	vertical-align: top;
}*/

.works { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
    width: 90%;
    margin: 0 auto;
}

.works__image { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

@media only screen and (max-width: 400px) {
    .works {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}
